.input {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid hsl(240 5.9% 90%);
  background-color: white;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.2s;
  outline: none;
}

.input:focus {
  border-color: hsl(240 10% 3.9%);
  box-shadow: 0 0 0 1px hsl(240 10% 3.9%);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input::placeholder {
  color: hsl(240 3.8% 46.1%);
}

.input.h-9 {
  height: 2.25rem;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
